# Terraform transient artifacts — do NOT commit
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!example.tfvars
build/
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
